.placeholderWrap {
    position: relative; 
    display: inline-block;
}
.placeholderWrap label {
    color: #555;
    position: absolute; 
    top: 50%;
    left: 6px; /* Might have to adjust this based on font-size */
    pointer-events: none;
    display: block;
    margin: 0;
    cursor: text;
}
.placeholder-focus label {color: #999;}/* could use a css animation here if desired*/
.placeholder-changed label {
    display: none !important;
}
